# Requirements file
# Usage: pip install -r requirements.txt

matplotlib==3.5.1
numpy==1.21.8
opencv-python==4.5.5
Pillow==9.2.0
PyYAML==6.0

torch==1.12.0
torchvision==0.13.0
tqdm==4.64.0
pandas==1.4.2
albumentations==1.2.1
wandb==0.13.1